@media (max-width: 768px) {
    .center {
        padding-inline: 36px;
    }

    .heading {
        font-size: 48px;
    }

    .contacts-map {
        display: none;
        margin-bottom: 40px;

        &--laptop {
            display: none;
        }

        &--tablet {
            display: inline;
        }
    }

    .worker {
        &, & * {
            width: 320px;
        }

        &s {
            flex-wrap: wrap;
            gap: 24px;
            margin-bottom: 100px;
        }
    }

    .requisites-pdf {
        display: none;

        &__mobile {
            display: flex;
            width: 100%;
            max-width: unset;
        }
    }

    .table {
        margin-bottom: 40px;
    }

    .team-description__right {
        display: none;
    }
}
